{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="02-date-of-birth" method="post">

<!-- geese related questions go here -->

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is your name?
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-name">
          First name(s)
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-name" name="address-name" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-street">
          Surname
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-street" name="address-street" type="text"></div>

    </fieldset>

<!-- geese related questions end here -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
