{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="01-name">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="03-address" method="post">

<!-- geese related questions go here -->

<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 12 11 2001
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day-of-birth">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day-of-birth" name="day-of-birth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="month-of-birth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month-of-birth" name="month-of-birth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="year-of-birth">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year-of-birth" name="year-of-birth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
          </div>

        </fieldset>
      </div>

<!-- geese related questions end here -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
