{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="06-goose-breed">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <main class="govuk-main-wrapper">

              <h1 class="govuk-heading-xl">
                You do not need to register your geese.
              </h1>
              <p class="govuk-body">
                As you own less than 50 geese, you do not need to register your flock with the Department for Licensing at this time.
                <br>
                You must report all changes to your flock within 10 days of the occurance.
              </p>
              
        </main>

      </div>

    </div>
  </div>
{% endblock %}
